# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars

# Docker
Dockerfile
.dockerignore

# IDE specific
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
